<div class="container content-section">
  <h2>Work Experiences</h2>
  <div>
    <div class="experience-info">
      <h3>Technical Support Specialist | TechWheel (2022 - 2022)</h3>
      <p>
        At TechWheel, an e-commerce company, I started as an assembly
        technician, where I was responsible for assembling computers. Later, I
        transitioned to a customer support role, providing assistance to
        customers with technical issues. Unfortunately, due to the company's
        financial challenges, it faced bankruptcy, leading to my disconnection.
      </p>
    </div>

    <div class="experience-info">
      <h3>IT Specialist | GERAR (2022 - Current Position)</h3>
      <p>
        In my current role at GERAR, I serve as an IT Specialist within the IT
        department. My responsibilities include providing general support to
        colleagues, maintaining the network and computers, and developing
        automations and integrations to enhance operational efficiency. This
        position allows me to leverage my technical skills and contribute to the
        smooth functioning of the IT infrastructure.
      </p>
    </div>
  </div>
</div>
