<div class="container content-section">
  <h2>Education</h2>

  <div class="row">
    <div>
      <div class="education-info">
        <h3>Degree in Professional Piloting</h3>
        <p>University Positivo, Curitiba, Brasil<br />Graduated: 2023</p>
        <p>
          I pursued a degree in Professional Piloting, acquiring comprehensive
          knowledge in aviation. This education laid the foundation for my
          journey in the field of aviation.
        </p>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div>
      <div class="education-info">
        <h3>Computer Science Degree</h3>
        <p>
          University Cruzeiro do Sul, Campo Largo, Brasil<br />Expected
          Graduation: 2027
        </p>
        <p>
          Currently pursuing a degree in Computer Science to deepen my
          understanding of programming, algorithms, and the broader aspects of
          computer science.
        </p>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <hr style="color: #ffffff; size: 1px; font-weight: 1000;" />

  <div class="row">
    <div>
      <div class="education-info">
        <h3>English Language Proficiency</h3>
        <p>Cambridge Proficiency Certificate - Currently Pursuing C1 Level</p>
        <p>
          Currently enrolled in advanced English language proficiency classes at
          Cultura Inglesa, actively working towards achieving the Cambridge
          Proficiency Certificate at the C1 level. As part of my long-term
          language learning goals, the intention is to progress to the C2 level
          upon successful completion of the C1 certification.
        </p>
      </div>
    </div>
  </div>
</div>
