<div>
  <!-- mailing info -->
  <div class="mailing container content-section">
    <h2>Contact Information</h2>
    <label for="support">Bug Reports and Support</label>
    <ul id="support">
      <li>
        Email:
        <a href="mailto:contact@neumannmarques.com"
          >contact&#64;neumannmarques.com</a
        >
      </li>
      <li>Subject: Bug Report / Support Inquiry</li>
      <li>
        Message: If you've encountered any issues or need assistance with our
        services, please don't hesitate to reach out to our support team at
        <a href="mailto:contact@neumannmarques.com"
          >contact&#64;neumannmarques.com</a
        >. Kindly include detailed information about the problem you're facing,
        and we'll get back to you as soon as possible.
      </li>
    </ul>
    <label for="business">Business Inquiries</label>
    <ul id="business">
      <li>
        Email:
        <a href="mailto:danilo@neumannmarques.com"
          >danilo&#64;neumannmarques.com</a
        >
      </li>
      <li>Subject: Business Inquiry / Hiring Opportunity</li>
      <li>
        Message: For business-related inquiries or if you are interested in
        hiring our services, please contact our business team at
        <a href="mailto:danilo@neumannmarques.com"
          >danilo&#64;neumannmarques.com</a
        >. We're open to collaboration and would love to discuss how we can
        contribute to your projects. Feel free to provide details about your
        requirements, and we'll respond promptly.
      </li>
    </ul>
  </div>
</div>
