<div class="container content-section">
  <div class="skills-info">
    <h3>Skills</h3>
    <ul>
      <li>
        <i class="bi bi-code-square"></i>
        Full-Stack Web Development
      </li>
      <li>
        <i class="bi bi-controller"></i>
        Game Development with Unity and Game Maker Studio 2
      </li>
      <li>
        <i class="bi bi-layout-wtf"></i>
        Software Development and API Integration
      </li>
      <li>
        <i class="bi bi-router"></i>
        IT Support and Network Maintenance
      </li>
      <li>
        <i class="bi bi-robot"></i>
        Automation and Integration Development
      </li>
      <li>
        <i class="bi bi-printer"></i>
        3D Printing and Prototyping
      </li>
      <li>
        <i class="bi bi-file-earmark-excel"></i>
        Microsoft Office Suite
      </li>
      <li>
        <i class="bi bi-lightbulb"></i>
        Problem Solving and Proactive Troubleshooting
      </li>
      <li>
        <i class="bi bi-chat-dots"></i>
        Effective Communication and Collaboration
      </li>
    </ul>
  </div>
</div>
