<div class="container content-section">
  <div class="languages-info">
    <h3>Languages</h3>
    <ul>
        <li>
            <i class="fas fa-language"></i>
            Portuguese (Brazilian)
            <p>
                Native proficiency. Fluent in reading, writing, and speaking.
            </p>
        </li>

        <li>
            <i class="fas fa-language"></i>
            English
            <p>
                Proficient in reading, writing, and speaking. Currently pursuing the Cambridge Proficiency Certificate (C1 level).
            </p>
        </li>

        <li>
            <i class="fas fa-code"></i>
            Programming Languages
            <p>
                Proficient in Java, TypeScript, HTML, CSS, C#, C++, and others. Solid fundamentals in software development and experience with various game development engines.
            </p>
        </li>

    </ul>
</div>
  </div>
  