<div>
<!-- privacy.component.html -->
<div class="container mt-5 content-section">
  <h1 i18n class="mb-4">Privacy Policy</h1>

  <p i18n>
    Welcome to my Privacy Policy. At neumannmarques.com, I value and respect
    your privacy, and I am committed to protecting your personal information.
  </p>

  <!-- Information Collection -->
  <h2 i18n>1. Information Collection</h2>
  <p i18n>
    When you visit neumannmarques.com, I collect the following information
    through the contact page:
  </p>
  <ul class="inline-list">
    <li i18n>Name</li>
    <li i18n>Email</li>
    <li i18n>Message</li>
  </ul>
  <p i18n>
    This information is collected for the sole purpose of responding to your
    inquiries and providing the information you request.
  </p>

  <!-- Use of Information -->
  <h2 i18n>2. Use of Information</h2>
  <p i18n>
    The information collected is used exclusively for communication purposes. I
    do not sell, trade, or share your personal information with third parties.
  </p>

  <!-- Data Storage -->
  <h2 i18n>3. Data Storage</h2>
  <p i18n>
    Contact form submissions are stored securely. I retain this information for
    3 months, after which it is permanently deleted.
  </p>

  <!-- Security Measures -->
  <h2 i18n>4. Security Measures</h2>
  <p i18n>
    I have implemented security measures to protect the collected data,
    including RSA and Hashing.
  </p>

  <!-- User Rights -->
  <h2 i18n>5. User Rights</h2>
  <p i18n>
    You have the right to request access, correction, or deletion of your
    personal information. To exercise these rights, please contact me at
    contact&#64;neumannmarques.com.
  </p>

  <!-- Contact Information -->
  <h2 i18n>6. Contact Information</h2>
  <p i18n>
    If you have any questions or concerns regarding this Privacy Policy, please
    contact me at contact&#64;neumannmarques.com.
  </p>

  <!-- Policy Updates -->
  <h2 i18n>7. Policy Updates</h2>
  <p i18n>
    This Privacy Policy may be updated to reflect changes in data practices.
    Users will be notified of updates on the website.
  </p>

  <!-- Compliance -->
  <h2 i18n>8. Compliance</h2>
  <p i18n>
    I am committed to complying with applicable data protection laws, including
    Lei Geral de Proteção de Dados (LGPD) in Brazil.
  </p>

  <!-- Legal Basis -->
  <h2 i18n>9. Legal Basis</h2>
  <p i18n>
    The legal basis for processing personal data on neumannmarques.com is
    specified in Article 7 of the LGPD, including consent, contract execution,
    legal obligation, legitimate interest, and other lawful bases as applicable.
  </p>

  <p i18n>
    If you have any questions about this Privacy Policy, please contact me at
    contact&#64;neumannmarques.com.
  </p>
</div>
<div class="container mt-5 content-section">
  <h1>License</h1>
  <p
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dct="http://purl.org/dc/terms/"
  >
    <a
      property="dct:title"
      rel="cc:attributionURL"
      href="https://github.com/SpicyFerret/Danilo-Verse-website"
      >Danilo-Verse website</a
    >
    by
    <a
      rel="cc:attributionURL dct:creator"
      property="cc:attributionName"
      href="http://neumannmarques.com"
      >Danilo Neumann Marques
    </a>
    data and images are licensed under
    <a
      href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
      style="display: inline-block"
      >CC BY-NC-ND 4.0<img
        style="
          height: 22px !important;
          margin-left: 3px;
          vertical-align: text-bottom;
        "
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img
        style="
          height: 22px !important;
          margin-left: 3px;
          vertical-align: text-bottom;
        "
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /><img
        style="
          height: 22px !important;
          margin-left: 3px;
          vertical-align: text-bottom;
        "
        src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" /><img
        style="
          height: 22px !important;
          margin-left: 3px;
          vertical-align: text-bottom;
        "
        src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"
    /></a>
    and the underlying source code used to format and display that content is
  licensed under the
  <a
    href="https://github.com/SpicyFerret/Danilo-Verse-website/blob/main/LICENSE"
    >MIT Licence</a
  >.
  </p>
  

  <p i18n>Last updated: {{ "12/29/2023" | date }}</p>
</div>
</div>