<!-- privacy.component.html -->

<div class="container mt-5">
    <h1 class="mb-4">Privacy Policy</h1>
  
    <p>Welcome to my Privacy Policy. At danilonmarques.web.app, I value and respect your privacy, and I am committed to protecting your personal information.</p>
  
    <!-- Information Collection -->
    <h2>1. Information Collection</h2>
    <p>When you visit danilonmarques.web.app, I collect the following information through the contact page:</p>
    <ul>
      <li>Name</li>
      <li>Email</li>
      <li>Message</li>
    </ul>
    <p>This information is collected for the sole purpose of responding to your inquiries and providing the information you request.</p>
  
    <!-- Use of Information -->
    <h2>2. Use of Information</h2>
    <p>The information collected is used exclusively for communication purposes. I do not sell, trade, or share your personal information with third parties.</p>
  
    <!-- Firebase Analytics -->
    <h2>3. Firebase Analytics</h2>
    <p>I utilize Firebase Analytics for default statistical measurements. This tool collects aggregate, non-personal data to help me understand how visitors interact with my website.</p>
  
    <!-- Data Storage -->
    <h2>4. Data Storage</h2>
    <p>Contact form submissions are stored securely. I retain this information for 3 months, after which it is permanently deleted.</p>
  
    <!-- Security Measures -->
    <h2>5. Security Measures</h2>
    <p>I have implemented security measures to protect the collected data, including RSA and Hashing.</p>
  
    <!-- User Rights -->
    <h2>6. User Rights</h2>
    <p>You have the right to request access, correction, or deletion of your personal information. To exercise these rights, please contact me at danilo.nmarques&#64;gmail.com.</p>
  
    <!-- Contact Information -->
    <h2>7. Contact Information</h2>
    <p>If you have any questions or concerns regarding this Privacy Policy, please contact me at danilo.nmarques&#64;gmail.com.</p>
  
    <!-- Policy Updates -->
    <h2>8. Policy Updates</h2>
    <p>This Privacy Policy may be updated to reflect changes in data practices. Users will be notified of updates on the website.</p>
  
    <!-- Compliance -->
    <h2>9. Compliance</h2>
    <p>I am committed to complying with applicable data protection laws, including Lei Geral de Proteção de Dados (LGPD) in Brazil.</p>
  
    <!-- Legal Basis -->
    <h2>10. Legal Basis</h2>
    <p>The legal basis for processing personal data on danilonmarques.web.app is specified in Article 7 of the LGPD, including consent, contract execution, legal obligation, legitimate interest, and other lawful bases as applicable.</p>
  
    <p>If you have any questions about this Privacy Policy, please contact me at danilo.nmarques&#64;gmail.com.</p>
  
    <p>Last updated: 12/27/2023</p>
  </div>
  