<div>
<!-- privacy.component.html -->
<div class="container mt-5 content-section">
  <h1 i18n class="mb-4">Privacy Policy</h1>

  <p i18n>
    Welcome to my Privacy Policy. At neumannmarques.com, I value and respect
    your privacy. I want to assure you that I do not collect or store any personal information.
  </p>

  <!-- Information Collection -->
  <h2 i18n>1. Information Collection</h2>
  <p i18n>
    When you visit neumannmarques.com, rest assured that I do not collect or store any personal information.
  </p>

  <!-- Use of Information -->
  <h2 i18n>2. Use of Information</h2>
  <p i18n>
    As I do not collect or store any personal information, there is no use of such information.
  </p>

  <p i18n>
    If you have any questions about this Privacy Policy, please contact me at
    contact&#64;neumannmarques.com.
  </p>
</div>
<div class="container mt-5 content-section">
  <h1>License</h1>
  <p
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dct="http://purl.org/dc/terms/"
  >
    <a
      property="dct:title"
      rel="cc:attributionURL"
      href="https://github.com/SpicyFerret/Danilo-Verse-website"
      >Danilo-Verse website</a
    >
    by
    <a
      rel="cc:attributionURL dct:creator"
      property="cc:attributionName"
      href="http://neumannmarques.com"
      >Danilo Neumann Marques
    </a>
    data and images are licensed under
    <a
      href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
      style="display: inline-block"
      >CC BY-NC-ND 4.0<img
        style="
          height: 22px !important;
          margin-left: 3px;
          vertical-align: text-bottom;
        "
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img
        style="
          height: 22px !important;
          margin-left: 3px;
          vertical-align: text-bottom;
        "
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /><img
        style="
          height: 22px !important;
          margin-left: 3px;
          vertical-align: text-bottom;
        "
        src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" /><img
        style="
          height: 22px !important;
          margin-left: 3px;
          vertical-align: text-bottom;
        "
        src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"
    /></a>
    and the underlying source code used to format and display that content is
  licensed under the
  <a
    href="https://github.com/SpicyFerret/Danilo-Verse-website/blob/main/LICENSE"
    >MIT Licence</a
  >.
  </p>
  

  <p i18n>Last updated: {{ "12/29/2023" | date }}</p>
</div>
</div>