<div class="container content-section">
  <div class="row">
    <div class="col-7">
      <h2>Professional Overview</h2>
      <p class="intro">
        Welcome to my professional portfolio! I'm a passionate and versatile
        individual born in July 2000. My journey started with programming at the
        age of 18, focusing initially on video game development. Later, I
        embarked on an exciting path, earning a degree in professional piloting
        while simultaneously pursuing a computer science degree.
      </p>
      <p class="intro">
        As a programmer, I've honed my skills in languages such as JavaScript,
        TypeScript, HTML, CSS, Java, .NET C#, and C++. My experience spans
        various domains, including web development, game development, and
        software engineering. I've contributed to diverse projects, from
        creating Discord bots and games to developing integrations with APIs and
        automating processes.
      </p>
      <p class="intro">
        Currently working on obtaining my plane pilot license, I'm dedicated to
        continuous learning and growth. Feel free to explore my projects,
        skills, and experiences showcased on this site. Let's connect and
        explore new possibilities!
      </p>
    </div>

    <div class="col">
      <img
        src="../../../../../assets/pictures/dressed-up.jpg"
        class="img-fluid rounded"
      />
    </div>
  </div>
  <div class="contact-info container">
    <h2>Contact Information</h2>

    <div class="row row-cols-auto">
      <div class="col">
        <p>
          <i class="bi bi-phone custom-icon"></i>
          <a href="{{ whatsApp }}" target="_blank" class="url-link"
            >+55 (41) 99923-9889</a
          >
        </p>
      </div>
      <div class="col">
        <p>
          <i class="bi bi-envelope-at custom-icon"></i>
          <a href="mailto:danilo@neumannmarques.com" class="url-link"
            >danilo&#64;neumannmarques.com</a
          >
        </p>
      </div>
      <div class="col">
        <p>
          <img
            src="../../../../../assets/icons/In-Blue-72.png"
            class="custom-icon"
          />
          <a
            href="https://www.linkedin.com/in/danilo-nmarques/"
            target="_blank"
            class="url-link"
            >linkedin.com/in/danilo-nmarques</a
          >
        </p>
      </div>
      <div class="col">
        <p>
          <img
            src="../../../../../assets/icons/github-mark.png"
            class="custom-icon"
          />
          <a href="https://github.com/SpicyFerret" class="url-link"
            >github.com/SpicyFerret</a
          >
        </p>
      </div>
      <div class="col">
        <p>
          <i class="bi bi-geo-alt custom-icon"></i>
          <a
            href="https://maps.app.goo.gl/m6REbbe8eYzWHcGS9"
            target="_blank"
            class="url-link"
            >Campo Largo, Brazil</a
          >
        </p>
      </div>
      <div class="col">
        <i class="bi bi-bookmark custom-icon"></i>
        <a href="https://neumannmarques.com" target="_blank" class="url-link">
          neumannmarques.com
        </a>
      </div>
    </div>
  </div>
</div>
