.custom-icon {
    height: 20px;
    width: auto;
    margin-right: 6px;
    margin-bottom: 5px;
    vertical-align: middle;
    display: inline-block;

}

.intro {
    text-align: justify;
}
h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

.contact-info {
    margin-top: 20px;
}