.custom-nav {
    background-color: #00000095;
}

.white-text {
    filter: invert(1);
    color: white;
    font-weight: 600;
}


.custom-toggler {
    background-color: azure;
    color: azure;
}

.custom-dropdown {
    background-color: #ffffffe3;
    color: #ffffff;
}