.projects-info {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
}

h3 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Border between projects */
}

i {
    margin-right: 10px;
    font-size: 1.2em;
}