<div class="container content-section">
  <div class="projects-info">
    <h3>Projects</h3>
    <ul>
      <li>
        <i class="bi bi-discord"></i>
        Discord Bot Collaboration
        <p>
          Developed a Discord bot in collaboration for a friend's server using
          Java and the Discord API. Initially hosted on a Raspberry Pi, it now
          runs in the cloud.
        </p>
      </li>

      <li>
        <i class="bi bi-joystick"></i>
        Topdown Bullet Hell Shooter
        <p>Created a topdown bullet hell shooter using Construct 2.</p>
      </li>

      <li>
        <i class="bi bi-fire"></i>
        2D Platformer 4-Player Deathmatch Game
        <p>
          Developed a 2D platformer 4-player deathmatch game using Game Maker
          Studio 2. Players control dinosaurs that breathe fire and use the fire
          fart to fly.
        </p>
      </li>

      <li>
        <i class="bi bi-unity"></i>
        Quiz Game for Career Fair
        <p>
          Created a quiz game using Unity Engine and C# for a career fair that
          GERAR was attending.
        </p>
      </li>

      <li>
        <i class="bi bi-trello"></i>
        Google Forms and Trello Integration
        <p>
          Integrated Google Forms and Trello using Google Apps Script and the
          Trello API for creating and managing support tickets.
        </p>
      </li>

      <li>
        <i class="bi bi-ticket-perforated"></i>
        LAN Stock Manager and Ticket Printer
        <p>
          Developed a local LAN stock manager and ticket printer for an event
          using ASP .Net Razor pages. Includes a client interface for monitoring
          stock, adding products to the cart, and printing tickets.
        </p>
      </li>

      <li>
        <i class="bi bi-globe"></i>
        Personal Website (Angular)
        <p>Designed and developed a personal website using Angular.</p>
      </li>
    </ul>
  </div>
</div>
