.title-image {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.vertical-image {
  height: 300px;
  width: auto;
  border-radius: 50%;
}

.title-text {
  font-size: 1.3em;
  font-weight: 500;
  color: #000000;
  text-align: center;
}
  
.container.blog-section {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #ffffff6f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container.blog-section {
  max-width: 93%;
  margin-left: auto;
  margin-right: auto;
}