<!-- Hero Image Section -->
<div class="container page">
  <div class="row text-center title">
    <div class="row container blog-section">
      <div class="col">
        <div class="title-text">
          <h1>Welcome to the<br />Danilo-Verse</h1>
          <p>
            Here you can explore my world and learn about my passions and
            interests. <br />Enjoy your stay!
          </p>
        </div>
      </div>
      <div class="col">
        <img
          class="title-image"
          src="../../../assets/pictures/inside-cessna152.jpeg"
          alt="Hero Image"
        />
      </div>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="row">
    <!-- About Me -->
    <div class="title-text">
      <div class="row container blog-section">
        <div class="col">
          <img
            class="vertical-image"
            src="../../../assets/pictures/helloween-pilot.jpg"
            alt="Hero Image"
          />
        </div>
        <div class="col-7">
          <h2>About Me</h2>
          <p>
            Hello there! I'm Danilo Neumann Marques, a
            {{ getMyAge() }} years old software developer and plane pilot, and
            I'm thrilled to welcome you to my digital space.<br />Here, you'll
            find a blend of my interests, including PC games, PC building, JDM
            cars, aviation, programming, and anime.<br />Join me on this journey
            as I share my experiences, insights, and creations.
          </p>
        </div>
      </div>
    </div>

    <!-- explore more -->
    <div class="title-text">
      <div class="row container blog-section">
        <div class="col">
          <h2>Explore More</h2>
          <p>
            Use the navigation menu to delve into specific aspects of my life,
            such as my hobbies, professional journey, and how to get in touch.
            <br />
            Thanks for stopping by!
          </p>
        </div>
        <div class="col-7">
          <img
            class="title-image"
            src="../../../assets/pictures/forest.jpg"
            alt="Hero Image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
