body, html, .parent-of-custom-nav {
    height: 100%;
    overflow: visible;
}

.custom-nav {
    position: fixed;
}


.selectors {
    border-radius: 10px;
    background-color: #ffffff6f;
    box-shadow: 0 0 10px #0000001a;
}

.resume-content {
    margin-left: auto;
    padding-left: 95px;
}

.download-btn {
    font-size: medium;
}

  