<ul class="list-inline">
  <li class="list-inline-item">
    <a href="https://github.com/SpicyFerret" target="_blank">
      <img
        src="../../assets/icons/github-mark.ico"
        class="img-fluid"
        style="max-width: 30px; filter: grayscale(100%); filter: brightness(0%)"
      />
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.instagram.com/danilo.nmarques/" target="_blank">
      <img
        src="../../assets/icons/Instagram_Glyph_Black.ico"
        class="img-fluid"
        style="max-width: 30px"
      />
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/danilo-nmarques/" target="_blank"
      ><img
        src="../../assets/icons/LI-In-Bug.ico"
        class="img-fluid"
        style="max-width: 30px; filter: grayscale(100%); filter: brightness(0%)"
      />
    </a>
  </li>
</ul>
