<ul class="list-inline">
  <li class="list-inline-item">
    <a href="https://github.com/SpicyFerret" target="_blank">
      <img
        src="../../assets/icons/github-mark-white.png"
        class="img-fluid icon"
      />
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.instagram.com/danilo.nmarques/" target="_blank">
      <img
        src="../../assets/icons/Instagram_Glyph_White.png"
        class="img-fluid icon"
      />
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/danilo-nmarques/" target="_blank"
      ><img
        src="../../assets/icons/In-White-72.png"
        class="img-fluid icon"
      />
    </a>
  </li>
</ul>
